*
{        box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: #111;
    font-size: 14px;
    /* line-height: 20px; */
    font-weight: 700;
    margin:0 ;
    padding:0;
}
body
{
background-color: #083232;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
body{
  font-family: 'DM Sans', sans-serif;
  line-height:1.5em;
}

nav

{


    position: fixed;
    
    bottom: auto;
    /* display: flex;  */
    
    padding-right: 10%;
    padding-left: 10%;
    
    min-height: 11vh;
    
    
  
    align-items: center;
    background-color: #083232;

}

.nav-link {
    display: inline-block;
    color: #fff;
   
}

.btn-lg
{
    color: #fff;
    background-color: #f64d52;
    padding: 1rem 1.25rem 1rem 1.25rem;
}
#section-1
{
    background-color: #083232;
}

  .list-unstyled li{
    margin: 10px;
  }
  .form-control .text-title {
    height: 55px;
    margin-bottom: 0px;
    border: 1px none #000;
    border-radius: 5px;
    color: #222;
  }
    .features-photo img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
  }
  .features-photo{
    width: 450px;
    height:700px;        
    border-radius:5px;
  }

  .grid-view img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    width: 25%;
    height:25%;
    
  }
  .grid-view {
    text-align: center;
  }
  
  .grid-view h5{
  color:#000;
  font-size: x-large;
  }


#section-2
{

    padding-left: 300px;
    padding-bottom: 100px   ;
    padding-top: 200px;
    background-color: #fff;
    padding-right: 300px;
}
a {
    color: #2e856e;
    text-decoration: underline;
}
.footer-link 
{
    color: #fff;
}

  .footer {
    color: #fff;
    position: relative;

    display: flex;
    overflow: hidden;
    padding: 80px 5% 30px;
    justify-content: center;
    align-items: center;
    background-color: #083232;
}
